datasets==3.6.0
dvc[s3]==3.59.2
mlflow==2.22.0
transformers==4.51.3
spacy==3.8.5
scikit-learn==1.6.1
pandas==2.2.3
numpy==2.2.5
joblib==1.5.0
pyyaml==6.0.2
python-dotenv
tqdm==4.67.1
fastapi==0.115.12
uvicorn[standard]==0.34.2
python-multipart==0.0.20
python-jose[cryptography]==3.4.0
bcrypt==3.2.0
cryptography==43.0.3
prometheus-fastapi-instrumentator==7.1.0
requests==2.32.3
passlib[bcrypt]
